@model ARHome.Models.Brand

@{
    ViewData["Title"] = "顯示品牌明細";
}
<style>
    dl {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        list-style: none;
        padding: 0;
    }

    dt {
        width: 100%;
        text-align: left;
        padding-right: 10px;
        box-sizing: border-box;
    }

    /* 若需更精細的樣式，可根據需求進行調整 */
</style>


<h3><span class="badge rounded-pill bg-light text-dark">顯示品牌明細操作頁面</span></h3>
<br />
<div>
    <img src="http://140.137.41.136:1380/A01Web/Images/@Model.logo" style="height:400px; border-radius: 10%;" alt="@Model.logo" />
</div>
<dl>
    <dt>
        <b><label asp-for="brand1" class="text-dark"></label></b>: <span>@Model.brand1</span>
    </dt>
    <dt>
        <b><label asp-for="phoneNumber" class="text-dark"></label></b>: <span>@Model.phoneNumber</span>
    </dt>
    <dt>
        <b><label asp-for="address" class="text-dark"></label></b>: <span>@Model.address</span>
    </dt>
</dl>

<div class="container">
    @if (Model.Branches != null)
    {
        <h3>分店資訊</h3>
        <div class="row">
            @foreach (var branch in Model.Branches)
            {
                <div class="col-md-6 col-12 mb-4">
                    <div class="custom-col">
                        <div>
                            <b><label asp-for="@branch.branchName" class="text-dark"></label></b>: <span>@branch.branchName</span>
                        </div>
                        <div>
                            <b><label asp-for="@branch.phoneNumber" class="text-dark"></label></b>: <span>@branch.phoneNumber</span>
                        </div>
                        <div>
                            <b><label asp-for="@branch.address" class="text-dark"></label></b>: <span>@branch.address</span>
                        </div>
                        <!-- 將地址嵌入地圖 -->
                        <iframe width="100%" height="450" frameborder="0" style="border:0"
                                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAzlbbSZygvlSv_Pjf2NiHzhRnaR_qkZrw&q=@branch.address" allowfullscreen></iframe>
                    </div>
                </div>
            }
        </div>
    }
</div>


<div>
    <a asp-action="Index" class="btn btn-light text-dark btn-sm">回品牌首頁</a>
</div>

