@model ARHome.Models.Furniture

@{
    ViewData["Title"] = "顯示家具明細";
}

<!-- The Modal -->
<div id="Likemessage" class="message">
    <div class="msg_div">
        <div class="msg_div2">
            <span id="messagetext" style="color:#fff;font-weight:400;font-size:18px;">成功加入喜好項目！</span>
        </div>
    </div>
</div>
<div id="DisLikemessage" class="message">
    <div class="msg_div">
        <div class="msg_div2">
            <span id="messagetext" style="color:#fff;font-weight:400;font-size:18px;">成功移除家具！</span>
        </div>
    </div>
</div>
<div id="NoLogin" class="message">
    <div class="msg_div">
        <div class="msg_div3">
            <span id="messagetext" style="color:#fff;font-weight:400;font-size:18px;">用戶未登入！</span>
        </div>
    </div>
</div>
<div id="DeleteMessage" class="message">
    <div class="msg_div">
        <div class="msg_div2">
            <span id="messagetext" style="color:#fff;font-weight:400;font-size:18px;">成功刪除留言！</span>
        </div>
    </div>
</div>
<div id="BadMessage" class="message">
    <div class="msg_div">
        <div class="msg_div3">
            <span id="messagetext" style="color:#fff;font-weight:400;font-size:18px;">留言無法刪除</span>
        </div>
    </div>
</div>

<h3><span class="badge rounded-pill bg-light text-dark">顯示家具明細操作頁面</span></h3>
<br />

<div class="container">
    <div class="row col-md-12">
        <div class="col-md-6">
            <div onclick="toggleFavorite('@Model.furnitureId')" data-furniture-id="@Model.furnitureId" style="text-align: right;">
                <i class="fa fa-heart"></i>
            </div>
            <div>
                <img src="http://140.137.41.136:1380/A01Web/Images/@Model.picture" style="width: 100%; height:auto; border-radius: 10%;" alt="@Model.picture" />
            </div>
            <br />
            <dl>
                <dt>
                    <b><label asp-for="furnitureName" class="text-dark"></label></b>: <span>@Model.furnitureName</span>
                </dt>
                <dt>
                    <b><label asp-for="type" class="text-dark"></label></b>: <span>@Model.type</span>
                </dt>
                <dt>
                    <b><label asp-for="color" class="text-dark"></label></b>: <span>@Model.color</span>
                </dt>
                <dt>
                    <b><label asp-for="style" class="text-dark"></label></b>: <span>@Model.style</span>
                </dt>
                <dt>
                    <b><label asp-for="brand1" class="text-dark"></label></b>: <span>@Model.brand1</span>
                </dt>
                <dt>
                    <b><label asp-for="phoneNumber" class="text-dark"></label></b>: <span>@Model.phoneNumber</span>
                </dt>
                <dt>
                    <b><label asp-for="address" class="text-dark"></label></b>: <span>@Model.address</span>
                </dt>
            </dl>



        </div>
        <div class="col-md-6">
            <div id="buttonContainer">
                <button id="button">查看模型</button>
            </div>
            <div id="view3dContainer" style="display:none; width: 100%; height: 500px;">
                <iframe frameborder="0"
                        noresize="noresize"
                        style="background: transparent; height:100%; width:100%"
                        src="@Model.location">
                </iframe>
            </div>
        </div>
    </div>
</div>

<br />

<div class="container">
    @if (Model.Messages != null)
    {
        <div class="row">
            <div class="col-12 col-md-6">
                <h3>討論區</h3>
                @foreach (var message in Model.Messages)
                {
                    <div class="custom-col">
                        <p>
                            <span class="font-weight-bold">@message.displayName</span>
                            <span class="text-muted">． @message.messageTime</span>
                            @if (ViewBag.id == message.userId.ToString())
                            {
                                <button class="delete" onclick="DeleteMseeage('@message.messageId')">
                                    <i class="fa fa-trash"></i>
                                </button>
                            }
                        </p>
                        <p>@message.message1</p>
                    </div>
                }
            </div>
        </div>

    }
    <div class="col-12 col-md-6" style="display: flex">
        <form class="input-group" asp-action="AddMessage">
            <input type="hidden" name="FurnitureId" value="@Model.furnitureId" />
            <textarea class="form-control" type="text" placeholder="請先登入再留言" name="Message1"></textarea>
            <input class="btn btn-sm btn-light text-dark m-1" type="submit" value="送出" />
        </form>
    </div>
    <br />
    <div>
        <a asp-action="Index" class="btn btn-light text-dark btn-sm">回到家具網站首頁</a>
    </div>
</div>


<script>
    document.getElementById('button').addEventListener('click', function () {
        document.getElementById('buttonContainer').style.display = 'none';
        document.getElementById('view3dContainer').style.display = 'block';
    });

    function toggleFavorite(furnitureId) {
        console.log(furnitureId);
        $.ajax({
            type: "GET",
            url: '@Url.Action("ToggleFavorite", "Favorites")',
            data: { furnitureId: furnitureId },
            success: function (response) {
                if (response.success) {
                    console.log(response.message);
                    if (response.message == "新增家具") {
                        $('#Likemessage').show();
                        $('#Likemessage').fadeOut(2000);
                    }
                    else {
                        $('#DisLikemessage').show();
                        $('#DisLikemessage').fadeOut(2000);
                    }
                    //alert(response.message);
                    setTimeout(function () {
                        window.location.reload();
                    }, 800);
                }
                else {
                    // alert(response.message); // 在用戶未登入時也顯示訊息
                    // window.location.href = '@Url.Action("SignIn", "Home")';
                    $('#NoLogin').show();
                    $('#NoLogin').fadeOut(2000);
                }
            },
            error: function () {
                alert("請求失敗");
            }
        });
    }

    function DeleteMseeage(messageId) {
        console.log(messageId);
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteMseeage", "Furnitures")',
            data: { messageId: messageId },
            success: function (response) {
                if (response.success) {
                    console.log(response.message);
                    if (response.message == "刪除留言成功") {
                        $('#DeleteMessage').show();
                        $('#DeleteMessage').fadeOut(2000);
                    }
                    //alert(response.message);
                    setTimeout(function () {
                        window.location.reload();
                    }, 800);
                }
                else {
                    // alert(response.message); // 在用戶未登入時也顯示訊息
                    // window.location.href = '@Url.Action("SignIn", "Home")';
                    $('#BadMessage').show();
                    $('#BadMessage').fadeOut(2000);
                    setTimeout(function () {
                        window.location.reload();
                    }, 800);
                }
            },
            error: function () {
                alert("請求失敗");
            }
        });
    }
</script>