@model IEnumerable<ARHome.Models.Furniture>

@{
    ViewData["Title"] = "家具網站首頁";
}

<!-- The Modal -->
<div id="Likemessage" class="message">
    <div class="msg_div">
        <div class="msg_div2">
            <span id="messagetext" style="color:#fff;font-weight:400;font-size:18px;">成功加入喜好項目！</span>
        </div>
    </div>
</div>
<div id="DisLikemessage" class="message">
    <div class="msg_div">
        <div class="msg_div2">
            <span id="messagetext" style="color:#fff;font-weight:400;font-size:18px;">成功移除家具！</span>
        </div>
    </div>
</div>
<div id="NoLogin" class="message">
    <div class="msg_div">
        <div class="msg_div3">
            <span id="messagetext" style="color:#fff;font-weight:400;font-size:18px;">用戶未登入！</span>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" style="display:flex">
        <div class="bar col-md-12">
            <div class="col-12 col-md-8">
                <h3>
                    <a asp-area="" asp-controller="Furnitures" asp-action="Index" class="badge rounded-pill bg-light text-dark cursor-pointer">所有家具</a>
                    <a asp-area="" asp-controller="Furnitures" asp-action="Index" asp-route-type="chair" class="badge rounded-pill bg-light text-dark cursor-pointer">椅子</a>
                    <a asp-area="" asp-controller="Furnitures" asp-action="Index" asp-route-type="table" class="badge rounded-pill bg-light text-dark cursor-pointer">桌子</a>
                    <a asp-area="" asp-controller="Furnitures" asp-action="Index" asp-route-type="bed" class="badge rounded-pill bg-light text-dark cursor-pointer">床</a>
                    <a asp-area="" asp-controller="Furnitures" asp-action="Index" asp-route-type="sofa" class="badge rounded-pill bg-light text-dark cursor-pointer">沙發</a>
                </h3>
            </div>

            <div class="col-12 col-md-4">
                <div class="container-4">
                    <form asp-area="" asp-controller="Furnitures" asp-action="Search" method="get">
                        <input type="search" name="content" id="search" placeholder="想找什麼" required>
                        <button type="submit" class="icon">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<div class="container">
    <div class="row">
        <h2>@ViewBag.type</h2>

        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-sm-4 col-6">
                <div class="card" style="margin-bottom:5px">
                    <div class="card-body d-flex flex-column">
                        <div>
                            <i class="fa fa-heart" style="float: right;" onclick="toggleFavorite('@item.furnitureId')" data-furniture-id="@item.furnitureId"></i>
                        </div>
                        <a asp-action="Details" asp-route-id="@item.furnitureId" class="card-link">
                            <div class="card-img">
                                <img src="http://140.137.41.136:1380/A01Web/Images/@item.picture" alt="@item.picture" />
                            </div>
                            <h1 class="card-title">@item.furnitureName</h1>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    function toggleFavorite(furnitureId) {
        console.log(furnitureId);
        $.ajax({
            type: "GET",
            url: '@Url.Action("ToggleFavorite", "Favorites")',
            data: { furnitureId: furnitureId },
            success: function (response) {
                if (response.success) {
                    console.log(response.message);
                    if (response.message == "新增家具") {
                        $('#Likemessage').show();
                        $('#Likemessage').fadeOut(2000);
                    }
                    else {
                        $('#DisLikemessage').show();
                        $('#DisLikemessage').fadeOut(2000);
                    }
                    //alert(response.message);
                    setTimeout(function () {
                        window.location.reload();
                    }, 800);
                }
                else {
                    // alert(response.message); // 在用戶未登入時也顯示訊息
                    // window.location.href = '@Url.Action("SignIn", "Home")';
                    $('#NoLogin').show();
                    $('#NoLogin').fadeOut(2000);
                    setTimeout(function () {
                        window.location.href = '@Url.Action("SignIn", "Home")';
                    }, 800);
                }
            },
            error: function () {
                alert("請求失敗");
            }
        });
    }
</script>