@model ARHome.Models.Furniture

@{
    ViewData["Title"] = "顯示家具明細";
}

<h3><span class="badge rounded-pill bg-info">顯示家具錄明細操作頁面</span></h3>
<br />
<dl>
    <dt>
        <!-- 顯示Type屬性的名稱 -->
        <b><label asp-for="Type" class="text-primary"></label></b>
    </dt>
    <dd>
        <!-- 顯示Type屬性的值 -->
        <span>@Model.Type</span>
    </dd>
    <dt>
        <!-- 顯示Color屬性的名稱 -->
        <b><label asp-for="Color" class="text-primary"></label></b>
    </dt>
    <dd>
        <!-- 顯示Color屬性的值 -->
        <span>@Model.Color</span>
    </dd>
    <dt>
        <!-- 顯示Style屬性的名稱 -->
        <b><label asp-for="Style" class="text-primary"></label></b>
    </dt>
    <dd>
        <!-- 顯示Style屬性的值 -->
        <span>@Model.Style</span>
    </dd>
    <dt>
        <!-- 顯示BrandId屬性的名稱 -->
        <b><label asp-for="BrandId" class="text-primary"></label></b>
    </dt>
    <dd>
        <!-- 顯示BrandId屬性的值 -->
        <span>@Model.BrandId</span>
    </dd>
    <dt>
        <!-- 顯示Picture屬性的名稱 -->
        <b><label asp-for="Picture" class="text-primary"></label></b>
    </dt>
    <dd>
        <!-- 顯示Picture屬性的值 -->
        <span>@Model.Picture</span>
    </dd>
</dl>

<div>
    <a asp-action="Index" class="btn btn-info btn-sm">回到運動紀錄首頁</a>
</div>
