@model IEnumerable<ARHome.Models.Furniture>

@{
    ViewData["Title"] = "家具網站首頁";
}

<h3><span class="badge rounded-pill bg-info">家具網站首頁</span></h3>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                <!-- 顯示Type的屬性名稱，asp-for屬性為綁定的欄位 -->
                <b><label asp-for="ToList()[0].Type" class="text text-primary"></label></b>
            </th>
            <th>
                <!-- 顯示Color的屬性名稱，asp-for屬性為綁定的欄位 -->
                <b><label asp-for="ToList()[0].Color" class="text text-primary"></label></b>
            </th>
            <th>
                <!-- 顯示Style的屬性名稱，asp-for屬性為綁定的欄位 -->
                <b><label asp-for="ToList()[0].Style" class="text text-primary"></label></b>
            </th>
            <th>
                <!-- 顯示BrandId的屬性名稱，asp-for屬性為綁定的欄位 -->
                <b><label asp-for="ToList()[0].BrandId" class="text text-primary"></label></b>
            </th>
            <th>
                <!-- 顯示Picture的屬性名稱，asp-for屬性為綁定的欄位 -->
                <b><label asp-for="ToList()[0].Picture" class="text text-primary"></label></b>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <!-- 顯示當筆紀錄(item)之Type值 -->
                    <span>@item.Type</span>
                </td>
                <td>
                    <!-- 顯示當筆紀錄(item)之Color值 -->
                    <span>@item.Color</span>
                </td>
                <td>
                    <!-- 顯示當筆紀錄(item)之Style值 -->
                    <span>@item.Style</span>
                </td>
                <td>
                    <!-- 顯示當筆紀錄(item)之BrandId值 -->
                    <span>@item.BrandId</span>
                </td>
                <td>
                    <!-- 顯示當筆紀錄(item)之Picture值，且只顯示日期 -->
                    <span>@item.Picture</span>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.FurnitureId" class="text-info">明細</a>
                </td>
            </tr>
        }
    </tbody>
</table>
