@model IEnumerable<ARHome.Models.Favorite>

@{
    ViewData["Title"] = "喜好項目網站首頁";
}

<h3><span class="badge rounded-pill bg-light text-dark">喜好項目首頁</span></h3>
<br />

<!-- The Modal -->
<div id="Likemessage" class="message">
    <div class="msg_div">
        <div class="msg_div2">
            <span id="messagetext" style="color:#fff;font-weight:400;font-size:18px;">成功加入喜好項目！</span>
        </div>
    </div>
</div>
<div id="DisLikemessage" class="message">
    <div class="msg_div">
        <div class="msg_div2">
            <span id="messagetext" style="color:#fff;font-weight:400;font-size:18px;">成功移除家具！</span>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        @if(!Model.Any()){
            <p>還沒有喜歡的家具</p>
        }
        else{
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-sm-4 col-6">
                    <div class="card" style="margin-bottom:5px">
                        <div class="card-body d-flex flex-column">
                            <div>
                                <i class="fa fa-heart red-color" style="float: right;" onclick="toggleFavorite('@item.furnitureId')" data-furniture-id="@item.furnitureId"></i>
                            </div>
                            <a asp-controller="Furnitures" asp-action="Details" asp-route-id="@item.furnitureId" class="card-link">
                                <div class="card-img">
                                    <img src="http://140.137.41.136:1380/A01Web/Images/@item.picture" alt="@item.picture" />
                                </div>
                                <h1 class="card-title">@item.furnitureName</h1>
                            </a>
                        </div>
                    </div>
                </div>
            }
        }
        
    </div>
</div>

<script>
    function toggleFavorite(furnitureId) {
        console.log(furnitureId);
        $.ajax({
            type: "GET",
            url: '@Url.Action("ToggleFavorite", "Favorites")',
            data: { furnitureId: furnitureId },
            success: function (response) {
                if (response.success) {
                    console.log(response.message);
                    if (response.message == "新增家具"){
                        $('#Likemessage').show();
                        $('#Likemessage').fadeOut(2000);
                    }
                    else{
                        $('#DisLikemessage').show();
                        $('#DisLikemessage').fadeOut(2000);
                    }
                    //alert(response.message);
                    setTimeout(function () {
                        window.location.reload();
                    }, 800);
                }
                else {
                    alert(response.message); // 在用戶未登入時也顯示訊息
                    window.location.href = '@Url.Action("SignIn", "Home")';
                }
            },
            error: function () {
                alert("請求失敗");
            }
        });
    }
</script>